@use 'variables';

// Message
.message-error {
    .MuiPaper-root {
        background-color: variables.$error;
        color: #fff;
    }
}

.message-success {
    .MuiPaper-root {
        background-color: variables.$success;
        color: #fff;
    }
}

//Loader
.default-loader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10;
    .MuiCircularProgress-root  {
        color: variables.$primary-color;
    }
    background-color: variables.$dark-overlay;
}

//Modal
.default-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background-color: #000;
    border: 2px solid #000;
    padding: 10px;
}