@use 'variables';

.MuiToolbar-root {
    a {
        color: #fff;
        text-decoration: none;
        &.active {
            border-bottom: 2px solid variables.$primary-color;
            padding-bottom: 5px;
        }
    }
    .logo {
        padding-right: 25px;
        a {
            background-color: transparent;
        }
        .active {
            border-bottom: none;
            padding-bottom: 0;
        }
        img {
            filter: invert(100%);
            -webkit-filter: invert(100%);
            max-width: 50px;
        }
    }
}
.user-menu {
    a {
        color: #fff;
        text-decoration: none;
    }
}